<!-- Lets talk about geddy -->
<div class="jumbotron">
  <h1>Goodbye</h1>
  <p>You&apos;ve successfully logged out of this Geddy app.</p>
  <p><%- linkTo('Click here to log back in.', loginPath) %></p>
</div>
