<div class="form-group">
  <label for="name" class="control-label">Name</label>
  <div class="controls">
    <%- contentTag('input', task.name, {type:'text', class:'form-control', name:'name'}) %>
    <%- contentTag('input', task.groupId, {type:'hidden', class:'form-control', name:'groupId'}) %>
  </div>
</div>
