.align-center {
  text-align: center;
}

.hidden {
  display:none;
}

.icon-lg {
  font-size:2em;
}

img {
  max-width: 100%;
}

.navbar.navbar-inverse {
  background: #428bca;
  border: #428bca;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background: #428bca;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #3D7CB3;
  color: #ffffff;
}

.datepicker table {
  width: 100%;
}

#due-date-modal .icon-calendar {
  font-size:1.2em;
}

.past-due {
  background: #f0ad4e;
  border: #f0ad4e;
  color: #eee;
}

.completed-task .past-due {
  display:none;
}

.form-control[disabled] {
  cursor:default;
  background-color: #FFFFFF;
  -webkit-text-fill-color: #6b6b6b;
}

.datepicker.dropdown-menu {
  z-index: 99999;
}

.completed-task input[type=text] {
  text-decoration: line-through;
}

.task-assigned-avatar {
  padding: 2px 4px;
  width: 40px;
}

#assignment-members img {
  width: 25px;
}

.task-assigned-avatar img {
  width:25px;
}

.task-assigned-avatar i {
  padding:5px;
}

.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 38px;
	padding: 9px 12px;
	margin-top: -2px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
 
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}