<div class="form-group">
  <label for="name" class="control-label">Name</label>
  <div class="controls">
    <%- contentTag('input', group.name, {type:'text', class:'form-control', name:'name'}) %>
  </div>
</div>
